# DEV || PROD
NODE_ENV=DEV

# Discord
# https://discord.com/developers/applications
DISCORD_CLIENT_ID=
DISCORD_TOKEN=

# Postgres
PG_CONNECTION_STRING=postgresql://

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=8837

# Postgres
# Adjust port if needed
# Quick Password Gen: https://it-tools.tech/token-generator
POSTGRES_PORT=6767
POSTGRES_PASSWORD=

# PGadmin
# for viewing table purposes
# Adjust port if needed
# Quick Password Gen: https://it-tools.tech/token-generator
PGADMIN_PORT=6565
PGADMIN_PASSWORD=