# Exposed Redis
REDIS_PORT=8837

# Postgres
# Quick Password Gen: https://it-tools.tech/token-generator
POSTGRES_PORT=6767
POSTGRES_PASSWORD=

# PGadmin
# for viewing table purposes
PGADMIN_PORT=6565
PGADMIN_PASSWORD=